<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
    </head>

    <body>
        <h1>Complete el formulario: </h1>

        <form id="add_user_form" method="post" action="/server/api/v1/user/add_user/?format=json">

	    {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Registro" />
        </form>
    </body>

</html>
