<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
    </head>

    <body>
        <h1>Introduzca usuario y contraseña</h1>

        <form id="login_form" method="post" action="/server/api/v1/user/login_user/?format=json">

            {% csrf_token %}
            {{error}}
            <br><br>
            {{ form.as_p }}

            <input type="submit" name="submit" value="LogIn" />
        </form>
    </body>

</html>
